<h1><%= genres_show_link(@genre) %></h1>

<% @genre.with_these_albums.each do |album| %>
  <br />
  <%= albums_show_image_link(album) %>
  <br />
  <%= albums_show_link(album) %>
  <br />
  <%= artists_show_link(album.artist) %>
<% end %>