<h1>Add <%= @artist.name %> members</h1>

<%= form_tag "/artists/#{@artist.id}/create_members", multipart: true do %>
  <input type="text" name="member_name" placeholder="Name"><br>
    <p>
      <select name="instrument_name">
        <option> Instrument(s) </option>
        <% @instruments.each do |instrument| %>
          <option value="<%= instrument.name %>"></option>
        <% end %>
      </select>
    <p>
  <input type="submit" value=">">
<% end %>

