Add <%= @artist.name %> members

<%= form_tag "/artists/#{@artist.id}/create_members", multipart: true do %>
  <p>
    <input type="text" name="first_name" placeholder="First Name">
    <input type="text" name="last_name" placeholder="Last Name">
  </p>
    <p>
      <select name="instrument_name">
        <option> Instrument(s) </option>
        <% @instruments.each do |instrument| %>
          <option value="<% instrument.id %>"><%= instrument.name %></option>
        <% end %>
      </select>
    <p>
  <input type="submit" value=">">
<% end %>

