  <h1><%= formats_show_link(@format) %></h1>
<!-- Cycle through each album associated with a given format -->
<% @format.albums.each do |album| %>
  <br />
  <%= albums_show_image_link(album) %>
  <br />
  <%= albums_show_link(album) %>
  <br />
  <%= artists_show_link(album.artist) %>
<% end %>