<div class="list">
  <div class="row">
    <div class="col-4">
      <div class="album">
        <img src="">
        <div>Let It Be</div>
        <div>The Beatles</div>
      </div>
    </div>
    <div class="col-4">
      <div class="album">
        <img src="">
        <div>Let It Be</div>
        <div>The Beatles</div>
      </div>
    </div>
    <div class="col-4">
      <div class="album">
        <img src="">
        <div>Let It Be</div>
        <div>The Beatles</div>
      </div>
    </div>

    <div class="col-4">4</div>
    <div class="col-4">5</div>
    <div class="col-4">6</div>

    <div class="col-4">7</div>
    <div class="col-4">8</div>
    <div class="col-4">9</div>
  </div>
</div>