<div class="container">
  <div class="controls">
    <div class="search_bar">
      <input type="text">
    </div>

    <div class="sort_by">
      <label>Sort By</label>
      <select>
        <option>Choose One</option>
      </select>
    </div>

    <div class="view_toggles">
      <a href="#" class="large_pictures">Large Pictures</a>
      <a href="#" class="small_pictures">Small Pictures</a>
    </div>
  </div>

  <div class="main">

    <div class="row">
      <div class="col-8">
        <div class="list">
          <div class="row">
            <div class="col-4">
              <div class="album">
                <img src="">
                <div>Let It Be</div>
                <div>The Beatles</div>
              </div>
            </div>
            <div class="col-4">
              <div class="album">
                <img src="">
                <div>Let It Be</div>
                <div>The Beatles</div>
              </div>
            </div>
            <div class="col-4">
              <div class="album">
                <img src="">
                <div>Let It Be</div>
                <div>The Beatles</div>
              </div>
            </div>

            <div class="col-4">4</div>
            <div class="col-4">5</div>
            <div class="col-4">6</div>

            <div class="col-4">7</div>
            <div class="col-4">8</div>
            <div class="col-4">9</div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="sidebar">
          Sidebar
        </div>
      </div>
    </div>

  </div>
</div>