<!-- Shows album title -->
<h1><%= @album.title %></h1>
<br />
<!-- Shows album artist's name -->
<%= @album.artist.name %>
<br />
<img src="<%= @album.album_image.cover_image %>" style="width:100px;height:100px">
<!-- Shows the title of each of the album's tracks -->

<% @album.tracklist.each do |number, track| %>
  <br />
  <%= "#{number}. #{track}" %>
<% end %>