<h1><%= @album.title %></h1>
<br />
<%= @album.artist.name %>
<br />
<img src="<%= @album.album_image.cover_image %>" style="width:100px;height:100px">

<% @album.tracks.each do |track| %>
  <br />
  <%= track.title %>
<% end %>