<!-- Show all areas by name with a list of albums associated with that area -->
<% @areas.each do |area| %>
  <br />
  <h3><%= areas_show_link(area) %></h3>
  <% area.albums.each do |area_album| %>
    <%= albums_show_image_link(area_album) %>
    <br />
    <%= albums_show_link(area_album) %>
    <br />
    <%= artists_show_link(area_album.artist) %>
    <br />
  <% end %>
<% end %>

