<h1><%= @area.name %></h1>

<% @area.with_these_albums.each do |album| %>
  <br />
  <img src="<%= album.album_image.cover_image %>" style="width:100px;height:100px">
  <br />
  <%= album.title %>
  <br />
  <%= album.artist.name %>
<% end %>