// In this file, add CSS for elements that exist on many/most pages.

// Create new files for other elements (Don't forget to add `@import`
// statements for them in application.scss).

.album{
  border: 1px solid #666;
  padding: 30px;
  background: #999;
  margin: 30px;
}

#header{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #999;
  padding: 30px;
  color: #FFF;
}

#vinyl_archive{
  font-weight:bold;
}

#hear_nebraska{
  
}