// In this file, add CSS for elements that exist on many/most pages.

// Create new files for other elements (Don't forget to add `@import`
// statements for them in application.scss).

.album{
  border: 1px solid #666;
  padding: 30px;
  background: #999;
  margin: 30px;
}

#header{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #3A3939;
  padding: 30px;
  color: #FFFFFF;
}

.vinyl_archive{
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}

.hear_nebraska{
  font-size: 20px;
  font-weight: 100;
  color: #FFFFFF;
  text-decoration: none;
}

.albums_user_addition{
  font-size: 25px;
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.sidebar{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 20px;
}

.sidebar h3{
  background: #999;
  color: #FFFFFF;
  padding: 10px 0;
  padding-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.index_link{
  color: #FFFFFF;
  text-decoration: none;
}

.show_link{
  font-size: 20px;
  color: #484747;
  text-decoration: none;
  padding-bottom: 2px;
  padding-left: 20px;
}

.count{
  font-size: 20px;
  color: #484747;
  display: inline;
}

.show_album_image_link{
  
}
