<!-- List decades from current to 1860’s -->
<h1>Decades</h1>

<!-- Retrieve release count for each decade based on release_date -->
<% @releases.by_decade.each do |decade, releases| %>
  <h3><%= decades_show_link(decade) %>s</h3>
  <!-- 'releases' is a Release collection -->
  <% releases.each do |release| %>
  <!-- Calling 'album_info' on 'release' returns the Album object -->
    <br />
    <%= albums_show_image_link(release.album) %>
    <br />
    <%= albums_show_link(release.album) %>
    <br />
    <%= artists_show_link(release.album.artist) %>
  <% end %>
<% end %>

